.portfolio-item {
    margin: 20px auto;
    overflow: hidden;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}
.portfolio-item-preview {
    position: relative;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}
.portfolio-item:hover .portfolio-item-preview {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.portfolio-item:hover .portfolio-item-description {
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 0;
}
.portfolio-item-description {
    bottom: 70px;
    height: 100px;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.portfolio-item-description i {
    background: #1CBAC8 none repeat scroll 0 0;
    border: 1px solid #1CBAC8;
    border-radius: 50px;
    color: #fff;
    font-size: 22px;
    padding: 20px;
}

.btn-voltar{
    margin: 40px 40%;
    border-radius: 20px
    float: right;
    border-color: red;
    color:#994E23;
  
    padding: 20px;

}
.btn-voltar:hover{
    color:#221c01;
    color:#221c01;
    text-decoration: none;
}
.voltar{

    font-size: 30px;
    
}
strong{
    font-weight:normal;
    
}
