/*
Author       : Syed Ekram.
Template Name: Ariane - Responsive Website Template.
Version      : 1.0
*/
/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME PAGE DESIGN
    04. START SECTION TOP DESIGN
    05. START SERVICE PAGE DESIGN
    06. START ABOUT PAGE DESIGN
    07. START PORTFOLIO DESIGN
    08. START BLOG PAGE DESIGN
    09. START CONTACT PAGE DESIGN
    10. START FOOTER TOP DESIGN
    11. START FOOTER BOTTOM DESIGN         
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
body {
    background-color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #757575;
    font-weight: 300;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 { color: #202020 }
a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.status,
.status-mes {
    background-image: url(../img/status.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title { margin-bottom: 60px }
.section-title  h1 { text-transform: uppercase }
.section-title > h1 span { color: #1CBAC8 }
@media only screen and (max-width:768px) { 
    .section-title h1 { text-align: center }
}
@media only screen and (max-width:480px) { 
    .section-title h1 {
        font-size: 30px;
        text-align: center;
    }
}
@media only screen and (max-width:360px) { 
    .section-title h1 {
        font-size: 24px;
        text-align: center;
    }
}
@media only screen and (max-width:320px) { 
    .section-title h1 { text-align: center }
}
.section-title div {
    background: #1CBAC8 none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 15px auto 50px;
    width: 50px;
}
/*END SECTION TITLE DESIGN*/
/*SECTION OVERLAY*/
.overlay {
    background: rgba(0,0,0,0.6) none repeat scroll 0 0;
    padding: 60px 0;
}
/*END SECTION OVERLAY*/
/*BTN STYLE*/
.btn-light-bg {
    color: #333;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.btn-light-bg:hover,
.btn-light-bg:focus {
    background: #1CBAC8;
    border: 1px solid #1CBAC8;
    color: #fff;
}
/*BTN STYLE*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 * 02.BOOTSTRAP NAVIGATION OVERRIDES
 * ----------------------------------------------------------------------------------------
*/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #1CBAC8 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #1CBAC8 !important;
    background-color: transparent;
}
.navbar-brand { padding: 7px }
.navbar-brand img {
    height: 35px;
    width: 135px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 12px;
    font-weight: 400;
}
.menu-top { background: none }
.menu-top li a {
    color: #fff !important;
    text-transform: uppercase;
}
.menu-top li a:hover { color: #1CBAC8!important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (max-width:480px) { 
    .menu-top { background-color: rgba(0,0,0,0.9) }
    .navbar-default .navbar-nav > li > a { color: #fff !important }
}
@media only screen and (max-width:360px) { 
    .menu-top { background-color: rgba(0,0,0,0.9) }
    .navbar-default .navbar-nav > li > a { color: #fff !important }
}
@media only screen and (max-width:320px) { 
    .menu-top { background-color: rgba(0,0,0,0.9) }
    .navbar-default .navbar-nav > li > a { color: #fff !important }
}
.navbar-default.menu-shrink {
    background-color: rgba(0,0,0,0.9);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default.menu-shrink li a { color: #fff !important }
.navbar-default.menu-shrink li a:hover { color: #1CBAC8 !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #1CBAC8 }
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  03.START HOME PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
.home_overlay {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 100%;
}
.hero { height: 650px }
.hero-text h1 {
color: #fff;
font-size: 55px;
font-weight: 700;
letter-spacing: 2px;
line-height: 66px;
margin-bottom: 20px;
padding-top: 250px;
text-transform: uppercase;
}
@media only screen and (max-width:480px) { 
.hero-text h1 {
font-size: 32px;
line-height: 32px;
    }
}
.hero-text p {
color: #fff;
font-size: 22px;
line-height: 34px;
margin-bottom: 30px;
text-transform: uppercase;
}
.btn-home-bg {
background-color: transparent;
border-color: #fff;
border-radius: 0;
color: #fff;
font-size: 18px;
line-height: 18px;
padding: 15px 40px;
text-transform: uppercase;
}
@media only screen and (max-width:360px) { 
    .btn-home-bg { padding: 15px 20px }
}
.btn-home-bg:hover {
    background-color: #1CBAC8;
    border-color: #1CBAC8;
    color: #fff;
}
/*END SLIDER DESIGN*/
/*START PROMOTION DESIGN*/
.buy_now {
    background: #1CBAC8;
    padding: 40px 0;
}
.buy_now_title {
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:480px) { 
    .buy_now_title { letter-spacing: 0px }
}
.btn-promotion-bg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    margin-left: 100px;
    padding: 10px 30px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
@media only screen and (max-width:480px) { 
    .btn-promotion-bg {
        margin-left: 10px;
        margin-top: 20px;
    }
}
.btn-promotion-bg:hover,
.btn-promotion-bg:focus {
    background: #fff;
    border: 1px solid #fff;
    color: #333;
}
/*END PROMOTION DESIGN*/
/*START ABOUT*/
.about {
    background: #F8F8F8;
    padding-top: 60px;
}
.single_about {
    border-right: 1px solid #e8e8e9;
    border-top: 1px solid #e8e8e9;
    padding: 20px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
    background: #fff;
}
.single_about:last-child { border-right: 0px }
.single_about:hover { background: #1CBAC8 }
.single_about:hover i { color: #1CBAC8 }
.single_about:hover h4 { color: #fff }
.single_about:hover p { color: #fff }
.single_about i {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e8e8e9;
    border-radius: 50%;
    color: #dadfe1;
    display: inline-block;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    margin: -50px 0 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
    width: 100px;
}
.single_about h4 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media only screen and (max-width:768px) { 
    .single_about h4 { font-size: 15px }
}
/*END ABOUT*/
/*START WHY CHOOSE US*/
.why_overlay {
    background: rgba(38, 39, 50, 0.9) none repeat scroll 0 0;
    height: 100%;
    padding: 60px 0;
}
.section-title-white { color: #fff }
.single_why {
    border: 1px solid #555;
    padding: 60px 20px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.single_why:hover { border: 1px solid #1cbac8 }
@media only screen and (max-width:480px) { 
    .single_why { margin-bottom: 20px }
}
.single_why i {
    color: #1cbac8;
    font-size: 22px;
    margin-bottom: 10px;
}
.single_why h4 {
    color: #fff;
    text-transform: uppercase;
}
.single_why p { color: #fff }
/*END WHY CHOOSE US*/
/*START COUNT DOWN DESIGN*/
.counter {
    border: 1px solid #03EBEB;
    padding: 20px;
    border-radius: 5px;
}
@media only screen and (max-width:480px) { 
    .counter { margin-bottom: 10px }
}

.counter h1 {
    color: #1CBAC8;
    font-weight: 700;
}
.counter p {
    text-transform: capitalize;
    font-size: 18px;
}
@media only screen and (max-width:768px) { 
    .counter p { font-size: 13px }
}
@media only screen and (max-width:360px) { 
    .counter p { font-size: 12px }
}
@media only screen and (max-width:320px) { 
    .counter p { font-size: 17px }
}
/*END COUNT DOWN DESIGN*/
/*START TEAM DESIGN*/
.team h4 {
    margin-top: 10px;
    text-transform: uppercase;
}
.team img { width: 100% }
.team_social_icon {
    margin-bottom: 20px;
    margin-top: 20px;
}
@media only screen and (max-width:768px) { 
    .team_social_icon { margin-bottom: 40px }
}
.team_social_icon ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.team_social_icon ul li { display: inline-block }
.team_social_icon ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 21px;
    padding: 10px 13px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
    width: 45px;
}
.team_social_icon ul li a i { width: 20px }
.team_social_icon ul li a:hover {
    background: #1CBAC8;
    color: #fff;
    border: 1px solid #1CBAC8;
}
.facebook {
    background: #5D82D1;
    border: 1px solid #5D82D1;
}
.twitter {
    background: #40BFF5;
    border: 1px solid #40BFF5;
}
.google {
    background: #EB5E4C;
    border: 1px solid #EB5E4C;
}
.linkedin {
    background: #238CC8;
    border: 1px solid #238CC8;
}
/*END TEAM DESIGN*/
/*START TESTIMONIAL DESIGN*/
.testimonial_overlay {
    background: rgba(255,255,255,0.9);
    padding: 100px 0;
}
.cover-container img { display: inline }
.testimonial-image {
    border-radius: 100px;
    width: 120px;
    height: 120px;
}
.testomonial_left {
    float: left;
    margin-right: 50px;
}
.testomonial_left h4 { margin: 10px 0 }
.testimonial_text {
    letter-spacing: 1px;
    padding-top: 30px;
}
@media only screen and (max-width:480px) { 
    .testimonial_text {
        letter-spacing: 0px;
        text-align: left;
    }
}
.testomonial_left h5 { margin-bottom: 5px }
.carousel-indicators li {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 12px;
    height: 2px;
    margin: 0 1px;
    width: 20px;
}
.carousel-indicators .active {
    height: 2px;
    margin: 0 1px;
    width: 20px;
    border: 1px solid #1CBAC8;
    background: #1CBAC8 none repeat scroll 0 0;
}
#team__carousel { margin-bottom: 0px }
#team__carousel .carousel-indicators { bottom: -40px }
/*END TESTIMONIAL DESIGN*/
/*
 * ----------------------------------------------------------------------------------------
 *  03.END HOME PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 *  04.START SECTION TOP DESIGN
 * ----------------------------------------------------------------------------------------
 */
.section-top-title h2 {
    color: #fff;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:320px) { 
    .section-top-title h2 { font-size: 40px }
}
.section-top-title {
    padding-bottom: 60px;
    padding-top: 100px;
}
.section-top-title,
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
}
.section-top-title ol li { color: #fff!important }
.section-top-title ol li a { color: #fff!important }
.section-top-title ol li a:hover { color: #1CBAC8!important }
/*
 * ----------------------------------------------------------------------------------------
 *  04.END SECTION TOP DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 * 05.START SERVICE PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
.single_service {
    border: 1px solid #e8e8e9;
    margin-bottom: 25px;
    padding: 55px 30px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.single_service:hover { border: 1px solid #1CBAC8 }
.single_service i {
    font-size: 26px;
    margin-bottom: 20px;
    color: #1CBAC8;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.single_service:hover i { -webkit-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5) }
.single_service h4 {
    font-weight: 700;
    text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
    .single_service h4 { font-size: 15px }
}
/*START FEATURE DESIGN*/
.feature { }
.single_feature { margin-bottom: 40px }
.single_feature i {
    color: #fff;
    margin-right: 30px;
    font-size: 22px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}
.single_feature h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}
.single_feature:hover h4 { color: #1CBAC8 }
.single_feature:hover i { color: #1CBAC8 }
.single_feature p { color: #fff }
/*END FEATURE DESIGN*/
/*START PRICING DESIGN*/
.pricing-section{background:#fafafa;}
.pricing_overlay{background:rgba(255,255,255,0.9);padding:60px 0;}
.pricing-content {
background: #fff none repeat scroll 0 0;
border-top: 3px solid #1cbac8;
box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
transition: all 0.4s ease 0s;
}
.pricing-content:hover{transform:scale(1.02);}
@media only screen and (max-width:768px) { 
    .pricing-content { margin-bottom: 20px }
}
.pricing-price h1{
color: #1cbac8;
font-size: 50px;
margin: 0;
padding: 20px 0;
}
.pricing-price h1 span{font-size: 70px;}
.pricing-title h3 {
  margin: 0;
  padding: 10px 0;
}
.pricing-data p {
    padding: 10px 0;
    margin-bottom: 0;
}
.pricing-order a{
background: #1cbac8 none repeat scroll 0 0;
border: 1px solid #1cbac8;
color: #fff;
}
.pricing-order a:hover{
background: none repeat scroll 0 0;
border: 1px solid #e8e8e9;
color: #333;
}
.pricing-order { padding: 20px 0 }
/*END PRICING DESIGN*/
/*
 * ----------------------------------------------------------------------------------------
 * 05.END SERVICE PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 *  06.START ABOUT PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
.single_who { padding-top: 100px }
@media only screen and (max-width:768px) { 
    .single_who { padding-top: 0px }
}
.single_who h2 {
    color: #1CBAC8;
    border-bottom: 1px solid #e8e8e9;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 10px 0;
    text-transform: uppercase;
}
@media only screen and (max-width:360px) { 
    .single_who img { padding-top: 30px }
}
.single_who p { margin-bottom: 30px }
/* START SKILL DESIGN */
.progress-bar-text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.progress-bar-text span { float: right }
.progress-bar {
    background: #e8e8e9 none repeat scroll 0 0;
    box-shadow: 0 0 0;
    height: 30px;
    margin: 0 0 30px;
    position: relative;
    width: 100%;
}
.progress-bar > span {
    background: #1CBAC8 none repeat scroll 0 0;
    display: block;
    height: 100%;
    width: 0;
}
/* END SKILL DESIGN */
/*START COMPANY LOGO DESIGN*/
.company_logo { background: #f8f8f8 none repeat scroll 0 0 }
.company_logo img {
    /*     height: 100px;;
    width: 100%;*/
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
@media only screen and (max-width:480px) { 
    .company_logo img { margin-bottom: 20px }
}
.company_logo img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
/*END COMPANY LOGO DESIGN*/
/*
 * ----------------------------------------------------------------------------------------
 *  06.END ABOUT PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * 07.START PORTFOLIO DESIGN
 * ----------------------------------------------------------------------------------------
 */
.portfolio-item {
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}
.portfolio-item-preview {
    position: relative;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}
.portfolio-item:hover .portfolio-item-preview {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.portfolio-item:hover .portfolio-item-description {
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 0;
}
.portfolio-item-description {
    bottom: 70px;
    height: 100px;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.portfolio-item-description i {
    background: #1CBAC8 none repeat scroll 0 0;
    border: 1px solid #1CBAC8;
    border-radius: 50px;
    color: #fff;
    font-size: 22px;
    padding: 20px;
}
/*
 * ----------------------------------------------------------------------------------------
 * 07.END PORTFOLIO DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 *  08.START BLOG PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
.blog-post {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.blog-post h4 {
    border-bottom: 1px solid #e8e8e9;
    text-transform: uppercase;
    padding: 10px 0;
}
.blog-post .tittle-post:hover { color: #1CBAC8 }
.blog-post p { margin-bottom: 30px }
.blog-post .post-bt {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.blog-post .post-bt span {
    color: #1CBAC8;
    font-weight: 700;
}
.blog-post .post-info {
    border-bottom: 1px solid #e8e8e9;
    border-top: 1px solid #e8e8e9;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 8px 0;
    position: relative;
}
.blog-post .post-img {
    position: relative;
    overflow: hidden;
}
.blog-post .post-img img { width: 100% }
.blog-post iframe {
  border: medium none;
  height: 350px;
  width: 100%;
}
.blog-post .post-info li {
    display: inline-block;
    margin-right: 20px;
}
.blog-post .post-info li i {
    margin-right: 10px;
    font-size: 14px;
}
.blog-post .post-info li .date {
    background: #1CBAC8 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 16px;
    padding: 5px 10px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -14px;
    width: 58px;
}

/*START PAGINATION*/
ul.blog_pagination li a {
    border: 1px solid #e8e8e9;
    border-radius: 0 !important;
    color: #333;
    font-size: 18px;
    height: 40px;
    margin: 5px;
    padding: 6px 14px;
    width: 40px;
}
ul.blog_pagination li a:hover {
    color: #fff;
    background: #1CBAC8;
    border: 1px solid #1CBAC8;
}
/*END PAGINATION*/
/*END BLOG LEFT SIDEBAR*/
/*START BLOG SIDEBAR*/
.blog_sidebar_title {
    color: #1CBAC8;
    padding-bottom: 15px;
}
.search,
.recent_post,
.video_post,
.categories { margin-bottom: 30px }
.recent_single {
    margin-bottom: 20px;
    overflow: hidden;
}
.recent_single > a:hover { color: #28c8d6 }
.recent_single img {
    width: 100px;
    height: 80px;
    float: left;
    overflow: hidden;
    margin-right: 20px;
}
.recent_single h4 {
    font-size: 16px;
    line-height: 25px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #333;
}
.recent_single h4:hover { color: #1CBAC8 }
@media only screen and (max-width:991px) { 
    .recent_single h4 { font-size: 12px }
}
.recent_single span { color: #333 }
.recent_single span i {
    color: #1CBAC8;
    margin-right: 10px;
}
.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories ul li { }
.categories ul li a {
    color: #333;
    display: block;
    padding: 5px 0;
}
.categories ul li a:hover { color: #1CBAC8 }
.categories ul li a i { margin-right: 10px }
.video_post iframe {
    width: 100%;
    height: 220px;
	 border: medium none;
}
.tag_cloud a { margin: 5px }
@media only screen and (max-width:768px) { 
    .tag_cloud a { padding: 10px 12px }
}
/*END BLOG SIDEBAR*/
/*
 * ----------------------------------------------------------------------------------------
 *  08.END BLOG PAGE DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
* ----------------------------------------------------------------------------------------
* 09.START CONTACT PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
.pb60 { padding-bottom: 60px }
.contact_text { margin-bottom: 30px }
.contact_text p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}
.contact_address  h4 {
    color: #1CBAC8;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contact_address {
    background: #F9F9F9;
    border: 1px solid #e8e8e9;
    padding: 20px;
}
.contact_address i {
    color: #1CBAC8;
    font-size: 16px;
    margin-right: 10px;
}
.contact_address a {
    color: #1CBAC8;
    font-weight: 700;
    letter-spacing: 1px;
}
.contact_address p b {
    color: #1CBAC8;
    letter-spacing: 1px;
}
.contact h4,
.g-map h4 {
    border-bottom: 1px solid #e8e8e9;
    margin-bottom: 30px;
    padding: 10px 0;
    color: #202020;
    text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
    .g-map h4 { margin-top: 30px }
}
.form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    height: 45px;
}
.form-control:hover,
.form-control:focus {
    border: 1px solid #1CBAC8;
    box-shadow: none;
    outline: 0 none;
}
.actions input{ background: none }
/*
* ----------------------------------------------------------------------------------------
* 09.END CONTACT PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
*  10.START FOOTER TOP DESIGN
* ----------------------------------------------------------------------------------------
*/
@media only screen and (max-width:768px) { 
    .single_footer { margin-bottom: 30px }
}
.single_footer h4 {
    border-bottom: 1px solid rgba(121, 107, 93, 0.9);
    border-color: rgba(121, 107, 93, 0.9);
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.single_footer p { color: #c5b199 }
.footer_blog { padding-bottom: 20px }
.footer_blog img {
    width: 100px;
    height: 80px;
    float: left;
    overflow: hidden;
    margin-right: 20px;
}
.footer_blog  h3 {
    color: #c5b199;
    font-size: 16px;
    line-height: 25px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.footer_blog  h3:hover { color: #fff }
.footer_blog  span { color: #c5b199 }
.single_footer i { margin-right: 10px }
.single_footer a { color: #c5b199 }
.single_footer a:hover { color: #fff }
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li a {
    color: #c5b199;
    display: block;
    text-transform: capitalize;
    font-size: 13px;
    padding: 8px 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.single_footer ul li a:hover {
    color: #1CBAC8;
    padding-left: 10px;
}
/*
* ----------------------------------------------------------------------------------------
* 10.END FOOTER TOP DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
*  11.START FOOTER BOTTOM DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer { background-color: #15191c }
.footer-content { }
.footer-content img { margin-bottom: 20px }
.footer-content { }
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_social ul li {
    display: inline-block;
    margin: 2px;
}
@media only screen and (max-width:320px) { 
    .footer_social ul li { margin: 0px }
}
.footer_social ul li a {
    background: #0d0e11 none repeat scroll 0 0;
    border: 1px solid #0d0e11;
    box-shadow: 0 2px 0 0 #212327;
    color: #aaa;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 21px;
    padding: 10px 13px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
    width: 45px;
}
.footer_social ul li a i { }
@media only screen and (max-width:768px) { 
    .footer_social ul li a { font-size: 12px }
}
@media only screen and (max-width:360px) { 
    .footer_social ul li a { font-size: 14px }
}
@media only screen and (max-width:320px) { 
    .footer_social ul li a { font-size: 14px }
}
.footer_social ul li a:hover { color: #fff }
.f_facebook:hover {
    background: #5D82D1;
    box-shadow: 0 2px 0 0 #5D82D1;
    border: 1px solid #5D82D1;
}
.f_twitter:hover {
    background: #40BFF5;
    box-shadow: 0 2px 0 0 #40BFF5;
    border: 1px solid #40BFF5;
}
.f_google:hover {
    background: #EB5E4C;
    box-shadow: 0 2px 0 0 #EB5E4C;
    border: 1px solid #EB5E4C;
}
.f_linkedin:hover {
    background: #238CC8;
    box-shadow: 0 2px 0 0 #238CC8;
    border: 1px solid #238CC8;
}
.f_pinterest:hover {
    background: #E13138;
    box-shadow: 0 2px 0 0 #E13138;
    border: 1px solid #E13138;
}
.f_vimeo:hover {
    background: #35C6EA;
    box-shadow: 0 2px 0 0 #35C6EA;
    border: 1px solid #35C6EA;
}
.footer_copyright {
    margin-top: 20px;
    color: #aaa;
    padding-top: 10px;
}
/*
* ----------------------------------------------------------------------------------------
*  11.END FOOTER BOTTOM DESIGN
* ----------------------------------------------------------------------------------------
*/